body {
	background-image: url(../public/img/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
}

.App-header {
	margin: 20px;
	text-align: center;
	font-size: 40px;
	text-shadow: 2px 2px 5px rgb(132, 129, 129);
	font-family: 'Courgette', cursive;
}

.App {
	max-width: 1080px;
}

.App footer {
	font-size: 12px;
	margin: 20px;
}